%h1= @survey_question.text

- if @survey_question.boolean?
  = render partial: "boolean_form"
- else
  = simple_form_for :survey_question do |form|
    = form.input :answer
    = form.submit "Submit"
    = hidden_field_tag :id, @survey_question.id
    = hidden_field_tag :submit_url, @survey_question.submit_url


