%h1= @survey_question.text

= form_for :survey_question do |form|
  = form.label :answer
  = form.text_field :answer
  = form.submit "Submit"
  = hidden_field_tag :id, @survey_question.id
  = hidden_field_tag :submit_url, @survey_question.submit_url

-# - if @survey_question.boolean?
  -# = render partial: "boolean_form"
