= simple_form_for :survey_question, method: :put do |form|
  - @survey_question.responses.each do |response|
    = form.input :answer, as: :radio_buttons, collection: [[response, response]], label_method: :last, value_method: :first
  - if @survey_question.freeform?
    = form.input :answer, as: :string
  = form.submit "Submit"
  = hidden_field_tag :survey_id, @survey.id
  = hidden_field_tag :id, @survey_question.id
  = hidden_field_tag :submit_url, @survey_question.links.submit.href
