.container
  .row
    .col-sm-12
      = simple_form_for :survey_question, method: :put do |form|
        = form.input :answer, as: :time, minute_step: 15
        = form.submit "Submit", class: 'btn btn-primary'
        = hidden_field_tag :survey_id, @survey.id
        = hidden_field_tag :id, @survey_question.id
